.header{
    display: flex;
    height:59px;
    width:100%;
    position: absolute;
    background: transparent;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0px;
    z-index: 9;
    margin-right:4px;
    color: white !important;
    text-decoration: none !important;
    /* background-color: #1a232e; */
}

.page-item.active .page-link {
    background-color: red !important;
    color: white !important;
    border-color: red !important;
}

.logo{
    
    display: flex;
    align-items: center;
    color: white !important;
    text-decoration: none !important;
}

.logo > a > img{
    height: 50px;
}

.header-links{
    color:white;
    display: flex;
}

.header-link>a{
    padding-left:20px;
    float:left;
    color: white !important;
    text-decoration: none !important;
    
}

.input-text{
    color: white !important;
    background-color: black;
    text-decoration: none;
    box-shadow: none;
    border: 1px solid grey;
}

.search-btn{
    display: flex;
}