.top-pic{
    height:45pc !important;
    width:100%;
    background-size: cover;
    background-position: center;
    color:white;
    margin-left:0px !important;
    object-fit: none !important;
    /* box-shadow:inset 0px 0px 40px 40px black; */
}

.fade-bottom{
    position:absolute;
    top: 585px;
    height:200px;
    width:100%;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
    }
.movie-title>h1{
    font-size: 3rem !important;
    font-weight: 900 !important;
}

.info-movie{
    padding-top: 240px;
    margin-left:59px;
    text-shadow: 2px 2px 2px black;

}


.movie-para{
    font-size: 0.8rem;
    width:40%;
   
}


.button{
    margin:20px 20px;
    border:none;
text-decoration: none;
background-color: none;
box-shadow: none;
}

.play,.list{
margin-right:20px;
border: none;
padding: 7px;
border-radius: 4px;
background: rgb(118,112,112,0.7);
color:white;
font-weight: 900;
width: 141px;
height: 50px;
}

.play:hover{
    background-color: white;
    color:black
}
.list:hover{
    background-color: white;
    color:black
}

.pics {
    display: flex;
    height: 70% !important;
}
/* .pic-inside{
    height: 100px !important;
} */

.pic-inside>img{
    height: 100px;
    width: 180px;
    border-radius: 10px;
    padding-right: 5px;
    object-fit: cover;
    /* object-fit: contain; */
}
.pic-inside>img:hover{
    transform: scale(1.2);
    object-fit: fit !important;
}

.bottom{
    position: absolute;
    top:90%;
    margin-left: 59px;
}
.one{
    position: absolute;
    top:70%px;
}
.two,.three,.four,.five{
    position: relative;
    top:14pc;
    padding-bottom: 40px;
}

.heading{
color: white;
font-size: 1.7rem;
text-shadow: 2px 2px 2px black;
}
/* 358px */
.originals>img{
    height: 300px !important;
    width: 300px !important;
    padding: 10px !important;
}

.modal-content{
    background-color: #181818;
    border-radius: 50px;
    width:600px;
    height: 900px;
    color:white
}

.modal-header{
    border-bottom:none !important;
    background-color: none !important;
}
.close{
    text-decoration: none !important;
    border:none !important;
    box-shadow: none !important;
    height:60px;
    width:60px;
    border-radius: 100%;
}

.modal-body{
    border-radius: 40px;
    object-fit: contain;
    padding:0 !important

}
.modal-story{
    /* margin-top: 45% !important; */
    margin-top: -92px !important;
    background-color: rgb(26,24,24,0.7 );
    /* height: 60%; */
    height:100%;
    border-radius: 40px;
    width: 100% !important;
    padding:30px;
}
.modal-video{
margin-top: 126px !important;

}
.summary {
    width: 300px;
}

.modal-info {
    margin-top: 48px;
    display: flex;
}

.rating {
    margin-left: 94px;
    color:greenyellow
}

.html5-video-player:not(.ytp-transparent)
{
    width:560px;
}

.carousal-container{
    height:300px;
    width: 100%;
}

span{
    font-size: 2.2rem;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .carousal-container{
      width:100%
  }